<!-- Echo reviews -->
{% if (reviews) %}
<div id="reviewst">
{% for review in reviews %}
<table class="table table-striped table-bordered">
<tr>
<td style="width: 50%;"><strong>{{ review['author'] }}</strong></td>
<td class="text-right">{{ review['date_added'] }}</td>
</tr>
<tr>
<td colspan="2">
<p>{{ review['text'] }}</p>
{% if (aridius_news_display_answer_button != 1) %}
<a data-parent="{{ review['review_id'] }}" class="comment-reply" href="javascript:void(0);">{{ text_write_reply }}</a>
{% endif %}
</td>
</tr>
</table>
{% if (review['parent_id']) %}
{% for parent in review['parent_id'] %}
<table style = "width: 95%;float: right;" class="table table-striped table-bordered">
<tr>
<td style="width: 50%;"><strong>{{ parent['author'] }}</strong></td>
<td class="text-right">{{ parent['date_added'] }}</td>
</tr>
<tr>
<td colspan="2">
<div class="review-parent-text">
<p>{{ parent['text'] }}</p>
</div>
</td>
</tr>
</table>
{% endfor %}
{% endif %}
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}