{% if (colleft != 1 ) %}
<script>
$(document).ready(function () {
var viewedSwiper = new Swiper ('#viewed_carusel{{ module }}.swiper-container', {
speed: {{ rew_speed }},
autoplay: {
delay: {{ autoplay }},
},
slidesPerView: 4,
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: false,
preloadImages: true,
updateOnImagesReady:true,
grabCursor:true,
autoHeight:true,
touchMoveStopPropagation: true,
autoplayDisableOnInteraction: true,
slideVisibleClass: 'swiper-slide-visible',
navigation: {
nextEl: '.viewed-button-next',
prevEl: '.viewed-button-prev',
},
breakpoints: {
1599: {
slidesPerView: 4,
},
1199: {
slidesPerView: 3,
},
768: {
slidesPerView: 2,
},
},
on: {
imagesReady: function () {
$('#viewed_carusel').css("height", this.height + "px");
var viewed_imgsize = $('.viewed-imgsize').height()/2;
$('#viewed_carusel .button_swiper_car').css("top", viewed_imgsize+15 + "px");
$('#viewed_carusel .swiper-lazy-preloader').css("top", viewed_imgsize + "px");
$("#viewed_carusel .load_background .swiper-lazy-preloader").remove();
$("#viewed_carusel .load_background").css("z-index","-1");
},
resize: function () {
$('#viewed_carusel').css("height", this.height + "px");
var viewed_imgsize = $('.viewed-imgsize').height()/2;
$('#viewed_carusel .button_swiper_car').css("top", viewed_imgsize+15 + "px");
$('#viewed_carusel .swiper-lazy-preloader').css("top", viewed_imgsize + "px");
},
}
})
$("#viewed_carusel{{ module }}.swiper-container").hover(function() {
viewedSwiper.autoplay.stop();
}, function() {
viewedSwiper.autoplay.start();
});
});
</script>
<hr>
<h3 class="title_h title_center">{{ heading_title_view }}</h3>
<div class="padding-carusel row" id="viewed_carusel">
<div id="viewed_carusel{{ module }}" class="swiper-container padding_swiper button-next-prev">
<div class="swiper-wrapper">
{% for key,product in products %}
<div class="product-layoutmod swiper-slide">
{% if (not modern_arrows) %}
<div class="swiper-button-prev{{ key }} button_prev button_swiper_car">
<i class="fa fa-arrow-left"></i>
</div>
<div class="swiper-button-next{{ key }} button_next button_swiper_car" >
<i class="fa fa-arrow-right"></i>
</div>
{% endif %}
<div class="product-layout2">
<div class="border product-thumb">
<div class="caption">
<div id="imgCarousel-viewed{{ key }}">
<div class="viewed_block swiper-container">
{% if (not modern_quickview) %}
<button class="button_img_quick" data-toggle="tooltip" title="{{ button_quickview }}" onclick="quickview_open('{{ product['product_id'] }}');"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-search fa-stack-1x fa-inverse"></i></span></button>
{% endif %}
<div class="swiper-wrapper">
<div class="item swiper-slide">
<a href="{{ product['href'] }}"><img class="viewed-imgsize img-responsive center-add_img" src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
</div>
{% if (not modern_arrows) %}
{% for key2,image in product['images'] %}
<div class="item swiper-slide addit_lazy">
<a href="{{ product['href'] }}"><img class="swiper-lazy img-responsive center-add_img" src="catalog/view/theme/modern/image/background_white.jpg" alt="{{ product['name'] }}-foto{{ key2+2 }}" data-src="{{ image['thumb'] }}"/></a>
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %}
{% endif %}
</div>
{% if (theme_modern_other9 != '0') %}
<div class="swiper-pagination swiper-pagination{{ key }}"></div>
{% endif %}
</div>
{% if (not modern_arrows) %}
<script>
$(document).ready(function () { var viewedSwiper{{ key }} = new Swiper('#imgCarousel-viewed{{ key }} .swiper-container', { simulateTouch:false, preloadImages: false, autoHeight:false, loop: false, lazy: true, navigation: { nextEl: '#viewed_carusel .swiper-button-next{{ key }}', prevEl: '#viewed_carusel .swiper-button-prev{{ key }}' },pagination: {el: '#viewed_carusel .swiper-pagination{{ key }}',dynamicBullets: {{ theme_modern_other9 }},dynamicMainBullets:2}, }) });
</script>
{% endif %}
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special">-{{ percent }}%</div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new">{{ modern_name_sticker_product_new[language_id] }}</div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top">{{ modern_name_sticker_product_top[language_id] }}</div>
{% endif %}
<!-- top END -->
</div>
<div class="rating">
{% if (rat and product['rating']) %}
{% set i = 1 %}{% for i in i..5 %}
{% if (product['rating'] < i) %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
{% endif %}
</div>
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (product['price']) %}
<p class="price">
{% if (not product['special']) %}
{{ product['price'] }}
{% else %}
<span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
<div class="cart">
{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}
<button type="button" class="btn-instock" onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}">{{ button_instock }}</button>
{% else %}
<button type="button" class="btn-cartpr" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
{% endif %}
</div>
</div>
<div class="effect-hover ">
{% if (wish or comp) %}
<div class = "padding_mini_button">
{% if (wish) %}
<a class="wishlist wishlist_set" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-heart-o icon_size_wish"></i></a>
{% endif %}
{% if (comp) %}
<a class="compare compare_set" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-balance-scale icon_size_comp"></i></a>
{% endif %}
</div>
{% endif %}
{% if (desc) %}
<hr>
<p class="description_cat">{{ product['description'] }}</p>
{% endif %}
{% if (product['attribute_groups'] and attribute) %}
<hr>
<div class="attribute_cat">
{% set v = 0 %}
{% set break = false %}
{% set break2 = false %}
{% for attribute_group in product['attribute_groups'] if not break  %}
{% for key,attribute in attribute_group['attribute'] if not break2 %}
{% set v = v + 1 %}
{% if (v + 1 > modern_attribute_see) %}
{% set break2 = true %}
{% endif %}
{{ attribute['name'] }} - {{ attribute['text'] }}
{% if (v < modern_attribute_see) %}
/
{% endif %}
{% endfor %}
{% if (v + 1 > modern_attribute_see) %}
{% set break = true %}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="viewed-button-prev modern-button-prev"></div>
<div class="viewed-button-next modern-button-next"></div>
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
{% else %}
<h3 class="title_h title_center">{{ heading_title_view }}</h3>
<div class="row">
{% for product in products %}
<div class="product-layout changebr  col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="product-thumbleft transition">
<div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a></div>
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special">-{{ percent }}%</div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new">{{ modern_name_sticker_product_new[language_id] }}</div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top">{{ modern_name_sticker_product_top[language_id] }}</div>
{% endif %}
<!-- top END -->
</div>
<div class="caption sixe_price">
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (product['price']) %}
{% if (not product['special']) %}
<p class="price" >
{{ product['price'] }}
{% else %}
<p class="price pr_bottom">
<span class="price-new">{{ product['special'] }}</span><br /> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
</div>
<div class="cart">
<button type="button" class="btn-cart" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}