{{ header }}
<div class="container">
<div class="row">
<div id="cont" class="col-sm-12">
<div class="row">
{{ column_left }}
{% if (column_left and column_right) %}
{% set class = 'col-sm-6' %}
{% elseif (column_left or column_right) %}
{% set class = 'col-aridius' %}
{% else %}
{% set class = 'col-sm-12' %}
{% endif %}
<div id="content_news" class="{{ class }}">
{{ content_top }}
<div class="tab_mob_main">
<ul class="breadcrumb tab_mob_child" itemscope itemtype="http://schema.org/BreadcrumbList">
{% for i,breadcrumb in breadcrumbs %}
	{% if (i == 0) %}
		<li class="tab_mob_grandchild"><a href="{{ breadcrumb['href'] }}" class="current-link">{{ breadcrumb['text'] }}</a></li>
	{% elseif (breadcrumbs|length > i+1 ) %}
		<li class="tab_mob_grandchild" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="{{ breadcrumb['href'] }}" itemprop="item" itemscope itemtype="https://schema.org/Thing" itemid="{{ breadcrumb['href'] }}" title="{{ breadcrumb['text'] }}"><span itemprop="name">{{ breadcrumb['text'] }}</span></a><meta itemprop="position" content="{{ i }}">
		</li>
	{% else %}
		<li class="tab_mob_grandchild" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span itemprop="item" itemscope itemtype="https://schema.org/Thing" itemid="{{ breadcrumb['href'] }}" title="{{ breadcrumb['text'] }}"><span itemprop="name">{{ breadcrumb['text'] }}</span></span><meta itemprop="position" content="{{ i }}">
		</li>
	{% endif %}
{% endfor %}
</ul>
</div>
{% if (aridius_news_info is defined) %}
<div class="content-news">
<div class="news">
<h1 class="title_center">{{ heading_title }}</h1>
{{ description }}
</div>
<br />
<div>
{% if (not addthis) %}
{% if (modern_share) %}
{{ modern_share }}
{% endif %}
{% endif %}
</div>
</div>
<br />
{% if (aridius_news_status_review != 1) %}
<!-- Main form -->
<hr>
<h3 class="title_h title_center">{{ text_news_review }}</h3>
<form id="store-review" class="form-horizontal review_news-form">
{% if (review_guest) %}
<div class="review_shop"></div>
<div class="form-group required">
<div class="col-sm-12">
<label class="control-label" for="input-name">{{ entry_name }}</label>
<input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control"/>
</div>
</div>
<div class="form-group required">
<div class="col-sm-12">
<label class="control-label" for="input-review_shop">{{ entry_review }}</label>
<textarea name="text" rows="5" id="input-review_shop" class="form-control"></textarea>
</div>
</div>
{{ captcha }}
<div class="buttons clearfix">
<div class="pull-right">
<button type="submit" data-loading-text="{{ text_loading }}"  class="btn btn-primary add-review">{{ button_continue }}</button>
</div>
</div>
<input type="hidden" name="parent" value="0">
{% else %}
{{ text_login }}
<br /><br />
{% endif %}
</form>
<!-- Echo reviews -->
<div id="review_news"></div>
<br />
{% endif %}
<div class="clearfix"></div>
{% if (products) %}
<script>
$(document).ready(function(){new Swiper("#relatedn_carusel_swip.swiper-container",{slidesPerView:5,watchSlidesVisibility:!0,watchSlidesProgress:!0,loop:!1,preloadImages:!0,updateOnImagesReady:!0,grabCursor:!0,autoHeight:!0,touchMoveStopPropagation:!0,autoplayDisableOnInteraction:!0,slideVisibleClass:"swiper-slide-visible",navigation:{nextEl:".relatedn-button-next",prevEl:".relatedn-button-prev"},breakpoints:{1599:{slidesPerView:4},1199:{slidesPerView:3},768:{slidesPerView:2}},on:{imagesReady:function(){$("#relatedn_carusel").css("height",this.height+"px");var a=$(".relatedn-imgsize").height()/2;$("#relatedn_carusel .button_swiper_car").css("top",a+15+"px"),$("#relatedn_carusel .swiper-lazy-preloader").css("top",a+"px"),$("#relatedn_carusel .load_background .swiper-lazy-preloader").remove(),$("#relatedn_carusel .load_background").css("z-index","-1")},resize:function(){$("#relatedn_carusel").css("height",this.height+"px");var a=$(".relatedn-imgsize").height()/2;$("#relatedn_carusel .button_swiper_car").css("top",a+15+"px"),$("#relatedn_carusel .swiper-lazy-preloader").css("top",a+"px"){{ '}}' }}})});
</script>
<hr>
<h3 class="title_h title_center">{{ text_products_related }}</h3>
<div class="padding-carusel row" id="relatedn_carusel">
<div id="relatedn_carusel_swip" class="swiper-container padding_swiper button-next-prev">
<div class="swiper-wrapper">
{% for key,product in products %}
<div class="product-layoutcatnew swiper-slide">
{% if (not modern_arrows) %}
<div class="swiper-button-prev{{ key }} button_prev button_swiper_car">
<i class="fa fa-arrow-left"></i>
</div>
<div class="swiper-button-next{{ key }} button_next button_swiper_car" >
<i class="fa fa-arrow-right"></i>
</div>
{% endif %}
<div class="product-layout2">
<div class="border product-thumb">
<div class="caption">
<div id="imgCarousel-relatedn{{ key }}">
<div class="relatedn_block swiper-container">
{% if (not modern_quickview) %}<button class="button_img_quick" data-toggle="tooltip" title="{{ button_quickview }}" onclick="quickview_open('{{ product['product_id'] }}');"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-search fa-stack-1x fa-inverse"></i></span></button>{% endif %}
<div class="swiper-wrapper">
<div class="item swiper-slide">
<a href="{{ product['href'] }}"><img class="relatedn-imgsize img-responsive center-add_img" src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
</div>
{% if (not modern_arrows) %}
{% for key2,image in product['images'] %}
<div class="item swiper-slide addit_lazy">
<a href="{{ product['href'] }}"><img class="swiper-lazy img-responsive center-add_img" src="catalog/view/theme/modern/image/background_white.jpg" alt="{{ product['name'] }}-foto{{ key2+2 }}" data-src="{{ image['thumb'] }}"/></a>
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %}
{% endif %}
</div>
{% if (theme_modern_other9 != '0') %}
<div class="swiper-pagination swiper-pagination{{ key }}"></div>
{% endif %}
</div>
{% if (not modern_arrows) %}
<script>
$(document).ready(function () { var relatednSwiper{{ key }} = new Swiper('#imgCarousel-relatedn{{ key }} .swiper-container', { simulateTouch:false, preloadImages: false, autoHeight:false, loop: false, lazy: true, navigation: { nextEl: '#relatedn_carusel .swiper-button-next{{ key }}', prevEl: '#relatedn_carusel .swiper-button-prev{{ key }}' },pagination: {el: '#relatedn_carusel .swiper-pagination{{ key }}',dynamicBullets: {{ theme_modern_other9 }},dynamicMainBullets:2}, }) });
</script>
{% endif %}
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special">-{{ percent }}%</div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new">{{ modern_name_sticker_product_new[language_id] }}</div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top">{{ modern_name_sticker_product_top[language_id] }}</div>
{% endif %}
<!-- top END -->
</div>
<div class="rating">
{% if (modern_rating_cat != 1 and product['rating']) %}
{% set i = 1 %}{% for i in i..5 %}
{% if (product['rating'] < i) %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
{% endif %}
</div>
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a>
</h4>
{% if (product['price']) %}
<p class="price">
{% if (not product['special']) %}
{{ product['price'] }}
{% else %}
<span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
<div class="cart">
{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}
<button type="button" class="btn-instock" onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}">{{ button_instock }}</button>
{% else %}
<button type="button" class="btn-cartpr" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
{% endif %}
</div>
</div>
<div class="effect-hover">
{% if (modern_wishlist_cat != 1 or modern_compare_cat != 1) %}
<div class = "padding_mini_button">
{% if (modern_wishlist_cat != 1) %}
<a class="wishlist wishlist_set" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-heart-o icon_size_wish"></i></a>
{% endif %}
{% if (modern_compare_cat != 1) %}
<a class="compare compare_set" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-balance-scale icon_size_comp"></i></a>
{% endif %}
</div>
{% endif %}
{% if (modern_description_cat != 1) %}
<hr>
<p class="description_cat">{{ product['description'] }}</p>
{% endif %}
{% if (product['attribute_groups'] and modern_atribute != 1) %}
<hr>
<div class="attribute_cat">
{% set v = 0 %}
{% set break = false %}
{% set break2 = false %}
{% for attribute_group in product['attribute_groups'] if not break  %}
{% for key,attribute in attribute_group['attribute'] if not break2 %}
{% set v = v + 1 %}
{% if (v + 1 > modern_attribute_see) %}
{% set break2 = true %}
{% endif %}
{{ attribute['name'] }} - {{ attribute['text'] }}
{% if (v < modern_attribute_see) %}
/
{% endif %}
{% endfor %}
{% if (v + 1 > modern_attribute_see) %}
{% set break = true %}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="relatedn-button-prev modern-button-prev"></div>
<div class="relatedn-button-next modern-button-next"></div>
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
{% endif %}
{% if (aridius_news) %}
<script>
$(document).ready(function(){new Swiper("#relatednew_carusel_swip.swiper-container",{slidesPerView:5,watchSlidesVisibility:!0,watchSlidesProgress:!0,loop:!1,preloadImages:!0,updateOnImagesReady:!0,grabCursor:!0,autoHeight:!0,touchMoveStopPropagation:!0,autoplayDisableOnInteraction:!0,slideVisibleClass:"swiper-slide-visible",navigation:{nextEl:".relatednew-button-next",prevEl:".relatednew-button-prev"},on:{init:function(){$("#relatednew_carusel .load_background .swiper-lazy-preloader").remove(),$("#relatednew_carusel .load_background").css("z-index","-1")}},breakpoints:{1599:{slidesPerView:4},1199:{slidesPerView:3},768:{slidesPerView:2}}})});
</script>
<hr>
<h3 class="title_h title_center">{{ text_aridius_news_related }}</h3>
<div class="padding-carusel row" id="relatednew_carusel">
<div id="relatednew_carusel_swip" class="swiper-container padding_swiper button-next-prev">
<div class="swiper-wrapper">
{% for new in aridius_news %}
<script>
window.bLazy6 = new Blazy({
});
</script>
<div class="product-layoutcatnew swiper-slide" style="max-width: 510px">
<div class="border product-thumb transition">
{% if (new['video']) %}
<div class="fixnewsgrid video_cat"><iframe class="embed-responsive-item b-lazy" data-src="https://www.youtube.com/embed/{{ new['video'] }}" allowfullscreen></iframe></div>
{% else %}
<div class="image fixnewsgrid"><a href="{{ new['href'] }}"><img  src="{{ new['image'] }}" alt="" title="" class="img-responsive" /></a></div>
{% endif %}
<div class="caption">
{% if (not aridius_news_show_date) %}
<i class="fa fa-clock-o"></i> <span class="posted-aridius_news">{{ new['posted'] }}</span>
{% endif %}
<h4 class="news_hr"><a href="{{ new['href'] }}">{{ new['title'] }}</a></h4>
<p class="newsdesc">{{ new['description'] }}</p>
<p><a href="{{ new['href'] }}"><i class="fa fa-link"></i> <span class ="morecolor">{{ text_more }}</span></a></p>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="relatednew-button-prev modern-button-prev"></div>
<div class="relatednew-button-next modern-button-next"></div>
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
{% endif %}
{% elseif (aridius_news_data is defined) %}
<h1>{{ heading_title_news_lay }}</h1>
<div class="clearfix">	</div>
<div class="col-sm-12 catfl">
<div class="row">
<div class="col-sm-12">
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 navright">
<div class="form-group input-group input-group-sm">
<label class="input-group-addon" for="input-sort"><i class="fa fa-sort"></i> {{ text_sort }}</label>
<select id="input-limit" class="form-control" onchange="location = this.value;">
{% for limits in limits %}
{% if limits.value == limit %}
<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
{% else %}
<option value="{{ limits.href }}">{{ limits.text }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
</div>
</div>
</div>
<br />
<div class="row">
{% for aridius_news in aridius_news_data %}
<div class="product-layoutcatnew product-grid col-lg-3 col-md-3 col-sm-4 col-xs-6 cat_news">
<div class="product-thumb">
{% if (aridius_news['video']) %}
<div class="fixnewsgrid video_cat"><iframe class="embed-responsive-item b-lazy" data-src="https://www.youtube.com/embed/{{ aridius_news['video'] }}" allowfullscreen></iframe></div>
{% else %}
<div class="image fixnewsgrid"><a href="{{ aridius_news['href'] }}" title="{{ aridius_news['title'] }}"><img src="{{ aridius_news['thumb'] }}" alt="{{ aridius_news['title'] }}" class="img-responsive" /></a>	</div>
{% endif %}
<div class="list_block">
<div class="caption">
{% if (not aridius_news_show_date) %}
<i class="fa fa-clock-o"></i> <span>{{ aridius_news['posted'] }}</span>
{% endif %}
<h4 class="news_hr"><a href="{{ aridius_news['href'] }}">{{ aridius_news['title'] }}</a></h4>
<p class="newsdesc">{{ aridius_news['description'] }}</p>
<p><a href="{{ aridius_news['href'] }}"><i class="fa fa-link"></i> <span class ="morecolor">{{ text_more }}</span></a></p>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="clearfix"></div>
<div class="row">
<div class="col-sm-6 text-left">{{ pagination }}</div>
<div class="col-sm-6 text-right">{{ results }}</div>
</div>
{% endif %}
{{ content_bottom }}
</div></div>
{{ column_right }}
</div>
</div>
</div>
{% if (aridius_news_data is not defined) %}
<script><!--
$('#review_news').delegate('.pagination a', 'click', function(e) {
e.preventDefault();
$('#review_news').fadeOut('slow');
$('#review_news').load(this.href);
$('#review_news').fadeIn('slow');
});
$('#review_news').load('index.php?route=extension/module/aridius_news_layout/review&aridius_news_id={{ aridius_news_id }}');
$(document).on('submit','form.review_news-form',function(e){
e.preventDefault();
var $this=$(this);
$.ajax({
url: 'index.php?route=extension/module/aridius_news_layout/write&aridius_news_id={{ aridius_news_id }}',
type: 'post',
dataType: 'json',
data: $this.serialize(),
beforeSend: function () {
$this.find('.button-review').button('loading');
},
complete: function () {
$this.find('.button-review').button('reset');
},
success: function (json) {
$('.alert-success, .alert-danger').remove();
if (json['error']) {
$this.find('.review_shop').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
}
if (json['success']) {
$this.find('.review_shop').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
$this.find('input[name=\'name\']').val('');
$this.find('textarea[name=\'text\']').val('');
$this.find('input[name=\'rating\']:checked').prop('checked', false);
setTimeout(function(){ $('.reply-form').remove();},3000)
}
}
});
});
$(document).on('click', '.cancel-review', function () {
$('.reply-form').remove();
});
$(document).on('click', '.comment-reply', function () {
var $this=$(this);
$.post( "index.php?route=extension/module/aridius_news_layout/reply", { parent: $this.attr("data-parent") }, function( data ) {
$('.reply-form').remove();
$this.parent().append('<div class="reply-form">' + data.html + '</div>');
}, "json");
});
//-->
</script>
{% endif %}
{{ footer }}