{% if (ardspecialview) %}
<hr>
<h3 class="title_h title_center">{{ heading_title_special }}</h3>
<div class="padding-carusel row hover_index" id="special_carusel{{ module }}">
<div id="special_crs{{ module }}" class="swiper-container padding_swiper button-next-prev">
<div class="swiper-wrapper">
{% for key,product in products %}
<div class="product-layoutmod swiper-slide">
{% if (not modern_arrows) %}
<div class="swiper-button-prev{{ key }} button_prev button_swiper_car">
<i class="fa fa-arrow-left"></i>
</div>
<div class="swiper-button-next{{ key }} button_next button_swiper_car" >
<i class="fa fa-arrow-right"></i>
</div>
{% endif %}
<div class="product-layout2">
<div class="border product-thumb">
<div class="caption">
<div id="imgCarousel-special{{ key }}">
<div class="special_block swiper-container">
{% if (not modern_quickview) %}
<button class="button_img_quick" data-toggle="tooltip" title="{{ button_quickview }}" onclick="quickview_open('{{ product['product_id'] }}');"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-search fa-stack-1x fa-inverse"></i></span></button>
{% endif %}
<div class="swiper-wrapper">
<div class="item swiper-slide">
<a href="{{ product['href'] }}"><img class="special-imgsize img-responsive center-add_img" src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
</div>
{% if (not modern_arrows) %}
{% for key2,image in product['images'] %}
<div class="item swiper-slide addit_lazy">
<a href="{{ product['href'] }}"><img class="swiper-lazy img-responsive center-add_img" src="catalog/view/theme/modern/image/background_white.jpg" alt="{{ product['name'] }}-foto{{ key2+2 }}" data-src="{{ image['thumb'] }}"/></a>
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %}
{% endif %}
</div>
{% if (theme_modern_other9 != '0') %}
<div class="swiper-pagination swiper-pagination{{ key }}"></div>
{% endif %}
</div>
{% if (not modern_arrows) %}
<script>
$(document).ready(function () { var specialSwiper{{ key }} = new Swiper('#special_carusel{{ module }} #imgCarousel-special{{ key }} .swiper-container', { simulateTouch:false, preloadImages: false, autoHeight:false, loop: false, lazy: true, navigation: { nextEl: '#special_carusel{{ module }} .swiper-button-next{{ key }}', prevEl: '#special_carusel{{ module }} .swiper-button-prev{{ key }}' },pagination: {el: '#special_carusel{{ module }} .swiper-pagination{{ key }}',dynamicBullets: {{ theme_modern_other9 }},dynamicMainBullets:2}, }) });
</script>
{% endif %}
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special">-{{ percent }}%</div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new">{{ modern_name_sticker_product_new[language_id] }}</div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top">{{ modern_name_sticker_product_top[language_id] }}</div>
{% endif %}
<!-- top END -->
</div>
<div class="rating">
	{% if (rat and product['rating']) %}
{% set i = 1 %}{% for i in i..5 %}
{% if (product['rating'] < i) %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
{% endif %}
</div>
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (product['special_date_end'] > product['special_date_start']) %}
<div class="special-timer-all">
<div class = "special-timere-zone">
<div id = "time_out_{{ product['product_id'] }}"></div>
</div>
</div>
{% set date_out = ((product['special_date_end'])|date('Y, m, d')) %}
<script>
function get_timer_{{ product['product_id'] }}() { var timeend= new Date(); timeend = new Date({{ date_out }}); var day = new Date(); day.setMonth(day.getMonth() + 1); day = Math.floor((timeend-day)/1000); var sec=day%60; day=Math.floor(day/60); var min=day%60; day=Math.floor(day/60); var hour=day%24; day=Math.floor(day/24); if(day<10)day='0'+day; if(hour<10)hour='0'+hour; if(min<10)min='0'+min; if(sec<10)sec='0'+sec; var timestr =  "<span class='special-timer-info'>" +day+  "<span class='special-timer-text'>{{ day }}</span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"  +hour+    "<span class='special-timer-text'><p>{{ hour }}</p></span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"  +min+   "<span class='special-timer-text'>{{ minute }}</span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"   +sec+   "<span class='special-timer-text'>{{ second }}</span></span>"; document.getElementById('time_out_{{ product['product_id'] }}').innerHTML=timestr; setTimeout(get_timer_{{ product['product_id'] }},1000); } get_timer_{{ product['product_id'] }}()
</script>
{% endif %}
{% if (product['price']) %}
<p class="price">
{% if (not product['special']) %}
{{ product['price'] }}
{% else %}
<span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
<div class="cart">
{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}
<button type="button" class="btn-instock" onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}">{{ button_instock }}</button>
{% else %}
<button type="button" class="btn-cartpr" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
{% endif %}
</div>
</div>
<div class="effect-hover">
{% if (wish or comp) %}
<div class = "padding_mini_button">
{% if (wish) %}
<a class="wishlist wishlist_set" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-heart-o icon_size_wish"></i></a>
{% endif %}
{% if (comp) %}
<a class="compare compare_set" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-balance-scale icon_size_comp"></i></a>
{% endif %}
</div>
{% endif %}
{% if (desc) %}
<hr>
<p class="description_cat">{{ product['description'] }}</p>
{% endif %}
{% if (product['attribute_groups'] and attribute) %}
<hr>
<div class="attribute_cat">
{% set v = 0 %}
{% set break = false %}
{% set break2 = false %}
{% for attribute_group in product['attribute_groups'] if not break  %}
{% for key,attribute in attribute_group['attribute'] if not break2 %}
{% set v = v + 1 %}
{% if (v + 1 > modern_attribute_see) %}
{% set break2 = true %}
{% endif %}
{{ attribute['name'] }} - {{ attribute['text'] }}
{% if (v < modern_attribute_see) %}
/
{% endif %}
{% endfor %}
{% if (v + 1 > modern_attribute_see) %}
{% set break = true %}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="special-button-prev modern-button-prev"></div>
<div class="special-button-next modern-button-next"></div>
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
<script>
var specialSwiper = new Swiper ('#special_crs{{ module }}.swiper-container', {
speed: {{ rew_speed }},
autoplay: {
delay: {{ autoplay }},
},
slidesPerView: 4,
{% if products|length > 8 %}
slidesPerColumn: 2,
{% endif %}
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: false,
preloadImages: true,
updateOnImagesReady:true,
grabCursor:true,
autoHeight:true,
touchMoveStopPropagation: true,
autoplayDisableOnInteraction: true,
slideVisibleClass: 'swiper-slide-visible',
navigation: {
nextEl: '#special_carusel{{ module }} .special-button-next',
prevEl: '#special_carusel{{ module }} .special-button-prev',
},
breakpoints: {
1599: {
slidesPerView: 4,
},
1199: {
slidesPerView: 3,
},
768: {
slidesPerView: 2,
},
},
on: {
imagesReady: function () {
$('#special_carusel{{ module }}').css("height", this.height + "px");
var special_imgsize = $('#special_carusel{{ module }} .special-imgsize').height()/2;
$('#special_carusel{{ module }} .button_swiper_car').css("top", special_imgsize+15 + "px");
$('#special_carusel{{ module }} .swiper-lazy-preloader').css("top", special_imgsize + "px");
$("#special_carusel{{ module }} .load_background .swiper-lazy-preloader").remove();
$("#special_carusel{{ module }} .load_background").css("z-index","-1");
},
resize: function () {
$('#special_carusel{{ module }}').css("height", this.height + "px");
var special_imgsize = $('#special_carusel{{ module }} .special-imgsize').height()/2;
$('#special_carusel{{ module }} .button_swiper_car').css("top", special_imgsize+15 + "px");
$('#special_carusel{{ module }} .swiper-lazy-preloader').css("top", special_imgsize + "px");
},
}
})
$("#special_crs{{ module }}.swiper-container").hover(function() {
specialSwiper.autoplay.stop();
}, function() {
specialSwiper.autoplay.start();
});
</script>
{% else %}
<hr>
<h3 class="title_h title_center">{{ heading_title_special }}</h3>
<div id="special_block{{ module }}" class="main_block hover_index">
<div class="row">
{% for key,product in products %}
<div class="product-layoutmod col-xs-6 col-sm-4 col-md-3 col-lg-2 col-ard clear_module">
{% if (not modern_arrows) %}
<div class="swiper-button-prev{{ key }} button_prev button_swiper_car" style="top:{{ img_height/2+21 }}px">
<i class="fa fa-arrow-left"></i>
</div>
<div class="swiper-button-next{{ key }} button_next button_swiper_car" style="top:{{ img_height/2+21 }}px">
<i class="fa fa-arrow-right"></i>
</div>
{% endif %}
<div class="product-layout2">
<div class="border product-thumb">
<div class="caption">
<div id="imgCarousel-special{{ key }}">
<div class="special_block swiper-container">
{% if (not modern_quickview) %}
<button class="button_img_quick" data-toggle="tooltip" title="{{ button_quickview }}" onclick="quickview_open('{{ product['product_id'] }}');"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-search fa-stack-1x fa-inverse"></i></span></button>
{% endif %}
<div class="swiper-wrapper">
<div class="item swiper-slide">
<a href="{{ product['href'] }}"><img class="special-imgsize img-responsive center-add_img" src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
</div>
{% if (not modern_arrows) %}
{% for key2,image in product['images'] %}
<div class="item swiper-slide addit_lazy">
<a href="{{ product['href'] }}"><img class="swiper-lazy img-responsive center-add_img" src="catalog/view/theme/modern/image/background_white.jpg" alt="{{ product['name'] }}-foto{{ key2+2 }}" data-src="{{ image['thumb'] }}"/></a>
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %}
{% endif %}
</div>
{% if (theme_modern_other9 != '0') %}
<div class="swiper-pagination swiper-pagination{{ key }}"></div>
{% endif %}
</div>
{% if (not modern_arrows) %}
<script>
$(document).ready(function () { var specialSwiper{{ key }} = new Swiper('#special_block{{ module }} #imgCarousel-special{{ key }} .swiper-container', { simulateTouch:false, preloadImages: false, autoHeight:false, loop: false, lazy: true, navigation: { nextEl: '#special_block{{ module }} .swiper-button-next{{ key }}', prevEl: '#special_block{{ module }} .swiper-button-prev{{ key }}' },pagination: {el: '#special_block{{ module }} .swiper-pagination{{ key }}',dynamicBullets: {{ theme_modern_other9 }},dynamicMainBullets:2},,on:{init:function(){var a=$("#special_block{{ module }} .special-imgsize").height()/2;$("#special_block{{ module }} .button_swiper_car").css("top",a+15+"px"),$("#special_block{{ module }} .swiper-lazy-preloader").css("top",a+"px")},resize:function(){var a=$("#special_block{{ module }} .special-imgsize").height()/2;$("#special_block{{ module }} .button_swiper_car").css("top",a+15+"px"),$("#special_block{{ module }} .swiper-lazy-preloader").css("top",a+"px")}} }) });
</script>
{% endif %}
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special">-{{ percent }}%</div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new">{{ modern_name_sticker_product_new[language_id] }}</div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top">{{ modern_name_sticker_product_top[language_id] }}</div>
{% endif %}
<!-- top END -->
</div>
<div class="rating">
{% if (rat and product['rating']) %}
{% set i = 1 %}{% for i in i..5 %}
{% if (product['rating'] < i) %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
{% endif %}
</div>
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (product['special_date_end'] > product['special_date_start']) %}
<div class="special-timer-all">
<div class = "special-timere-zone">
<div id = "time_out_{{ product['product_id'] }}"></div>
</div>
</div>
{% set date_out = ((product['special_date_end'])|date('Y, m, d')) %}
<script>
function get_timer_{{ product['product_id'] }}() { var timeend= new Date(); timeend = new Date({{ date_out }}); var day = new Date(); day.setMonth(day.getMonth() + 1); day = Math.floor((timeend-day)/1000); var sec=day%60; day=Math.floor(day/60); var min=day%60; day=Math.floor(day/60); var hour=day%24; day=Math.floor(day/24); if(day<10)day='0'+day; if(hour<10)hour='0'+hour; if(min<10)min='0'+min; if(sec<10)sec='0'+sec; var timestr =  "<span class='special-timer-info'>" +day+  "<span class='special-timer-text'>{{ day }}</span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"  +hour+    "<span class='special-timer-text'><p>{{ hour }}</p></span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"  +min+   "<span class='special-timer-text'>{{ minute }}</span></span><span class='special-timer-line'>:</span><span class='special-timer-info'>"   +sec+   "<span class='special-timer-text'>{{ second }}</span></span>"; document.getElementById('time_out_{{ product['product_id'] }}').innerHTML=timestr; setTimeout(get_timer_{{ product['product_id'] }},1000); } get_timer_{{ product['product_id'] }}()
</script>
{% endif %}
{% if (product['price']) %}
<p class="price">
{% if (not product['special']) %}
{{ product['price'] }}
{% else %}
<span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
<div class="cart">
{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}
<button type="button" class="btn-instock" onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}">{{ button_instock }}</button>
{% else %}
<button type="button" class="btn-cartpr" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
{% endif %}
</div>
<div class="effect_hover_wc">
{% if (wish or comp) %}
<div class = "padding_mini_button">
{% if (wish) %}
<a class="wishlist wishlist_set" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-heart-o icon_size_wish"></i></a>
{% endif %}
{% if (comp) %}
<a class="compare compare_set" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-fw fa-balance-scale icon_size_comp"></i></a>
{% endif %}
</div>
{% endif %}
</div>
</div>
<div class="effect-hover">
{% if (desc) %}
<hr>
<p class="description_cat">{{ product['description'] }}</p>
{% endif %}
{% if (product['attribute_groups'] and attribute) %}
<hr>
<div class="attribute_cat">
{% set v = 0 %}
{% set break = false %}
{% set break2 = false %}
{% for attribute_group in product['attribute_groups'] if not break  %}
{% for key,attribute in attribute_group['attribute'] if not break2 %}
{% set v = v + 1 %}
{% if (v + 1 > modern_attribute_see) %}
{% set break2 = true %}
{% endif %}
{{ attribute['name'] }} - {{ attribute['text'] }}
{% if (v < modern_attribute_see) %}
/
{% endif %}
{% endfor %}
{% if (v + 1 > modern_attribute_see) %}
{% set break = true %}
{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endif %}