<div class="catwall row">
{% if (child_visible) %} 
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h3 class="title_h title_center">{{ heading_title_call }}</h3>
<div class="tab_mob_main">
<ul class="nav nav-tabs mod tab_mob_child tabs-wall-aridius">
{% for key,category in categories %} 
<li class="tab_mob_grandchild tab_padding tab-wall-aridius {% if (key == 0) %}active{% endif %}"><a href="#tab_catwall{{ key+1 }}" data-toggle="tab" >{{ category['name'] }} <i class="fa fa-caret-down hidden"></i></a></li>
{% endfor %} 
</ul>
</div>
<div id="wall_carusel{{ module }}" class="tab-content row padding-carusel">
{% for key,category in categories %} 
<div id="tab_catwall{{ key+1 }}" class="tab-pane fade in pane-wall-aridius {% if (key == 0) %}active{% endif %}" data-swiper="{{ key+1 }}">
{% if (category['children']) %} 
{% if (child_carousel) %} 
<div class="rev_next_prev swiper-container">
<div class="swiper-wrapper">
{% endif %} 
{% for child in category['children'] %} 
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 block_catwall {% if (child_carousel) %}  swiper-slide{% endif %}">
{% if (add_img == '1') %} 
<div class="product-thumbcw transition col-lg-6 col-md-6 col-sm-6">
<div class="image"><a href="{{ child['href'] }}"><img src="{{ child['image'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" class="img-responsive" /></a></div>
</div>
{% endif %} 
<div class="namelink col-lg-6 col-md-6 col-sm-6 col-xs-12">
<a class="linkchild" href="{{ child['href'] }}">
<h4>{{ child['name'] }}</h4>
</a>
<!--3lv-->
{% if (child['sister_id']) %} 
{% for sisters in child['sister_id'] %} 
<div class="linksister"><a href="{{ sisters['href'] }}"><i class="fa fa-angle-right"></i> {{ sisters['name'] }}</a></div>
{% endfor %} 
<div class="link_seall"><a href="{{ child['href'] }}">{{ Seeall }}&nbsp;&rarr;</a></div>
{% endif %} 
</div>
<!--3lv-->
</div>
{% endfor %}
{% if (child_carousel) %} 
</div></div>
<div class="wall-button-prev modern-button-prev"></div>
<div class="wall-button-next modern-button-next"></div>
{% endif %}
{% endif %} 
</div>
{% endfor %} 
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
</div>
{% if (child_carousel) %} 
<script>
var index_swiper_wall = $('.pane-wall-aridius.active').attr('data-swiper');
function showSwiperWall(index_swiper_wall) {
var tabSwiperwall  = new Swiper ('#tab_catwall'+ index_swiper_wall +' .swiper-container', {
slidesPerView: 3,
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: false,
preloadImages: true,
updateOnImagesReady:true,
grabCursor:true,
autoHeight:true,
touchMoveStopPropagation: true,
autoplayDisableOnInteraction: true,
slideVisibleClass: 'swiper-slide-visible',
navigation: {
nextEl: '.wall-button-next',
prevEl: '.wall-button-prev',
},
breakpoints: {
1599: {
slidesPerView: 3,
},
1199: {
slidesPerView: 2,
},
768: {
slidesPerView: 2,
}
},
on:{
init:function(){
	$("#wall_carusel{{ module }} .load_background .swiper-lazy-preloader").remove(),
	$("#wall_carusel{{ module }} .load_background").css("z-index","-1")
}
}
})
}
showSwiperWall(index_swiper_wall);
$(function() {
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
var index_swiper_wall = $('.pane-wall-aridius.active').attr('data-swiper');
showSwiperWall(index_swiper_wall);
});
});
</script>
{% else %} 
<script>
	$("#wall_carusel{{ module }} .load_background .swiper-lazy-preloader").remove(),
	$("#wall_carusel{{ module }} .load_background").css("z-index","-1")
</script>
{% endif %}
{% else %} 
<h3 class="col-sm-12"><span class="title_h title_center col-sm-12">{{ heading_title_call }}</span></h3>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row padding-carusel">
{% if (child_carousel) %} 
<div id="wall_carusel{{ module }}" class="rev_next_prev swiper-container">
<div class="swiper-wrapper">
{% endif %} 
{% for category in categories %} 
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 block_catwall {% if (child_carousel) %}  swiper-slide{% endif %}">
{% if (add_img == '1') %} 
<div class="product-thumbcw transition col-lg-6 col-md-6 col-sm-6">
<div class="image"><a href="{{ category['href'] }}"><img src="{{ category['image'] }}" alt="{{ category['name'] }}" title="{{ category['name'] }}" class="img-responsive" /></a></div>
</div>
{% endif %} 
<div class="namelink col-lg-6 col-md-6 col-sm-6 col-xs-12">
<a class="linkchild" href="{{ category['href'] }}">
<h4>{{ category['name'] }}</h4>
</a>
<!--3lv-->
{% if (category['children']) %} 
{% for child in category['children'] %} 
<div class="linksister"><a href="{{ child['href'] }}"><i class="fa fa-angle-right"></i> {{ child['name'] }}</a></div>
{% endfor %} 
<div class="link_seall"><a href="{{ category['href'] }}">{{ Seeall }}&nbsp;&rarr;</a></div>
{% endif %} 
</div>
</div>
{% endfor %} 
{% if (child_carousel) %} 
</div>
<div class="load_background"><div class="swiper-lazy-preloader"></div></div>
</div>
<div class="wall-button-prev modern-button-prev"></div>
<div class="wall-button-next modern-button-next"></div>
<script>
var tabSwiperwall = new Swiper ('#wall_carusel{{ module }}.swiper-container', {
slidesPerView: 3,
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: false,
grabCursor:true,
autoplayDisableOnInteraction: true,
navigation: {
nextEl: '.wall-button-next',
prevEl: '.wall-button-prev',
},
breakpoints: {
1599: {
slidesPerView: 3,
},
1199: {
slidesPerView: 2,
}
},
on: {
init: function () {
$("#wall_carusel{{ module }} .load_background .swiper-lazy-preloader").remove();
$("#wall_carusel{{ module }} .load_background").css("z-index","-1");
}
}
})
</script>
{% endif %}
</div>
</div>
{% endif %} 
</div>