{% if (aridius_news) %} 
<div class="back_news">
<div class="container">
<div class="row ">
<div class="col-sm-12">
<div class="row mt">
<div class="col-xs-12 col-sm-12 col-md-12 aridius_news_margin">
<h3 class="title_h title_center title_news col-xs-6 col-sm-3 col-md-2">{{ heading_title_news }}</h3>
{% if (showbutton) %} 
<div class="pull-center all_new"><a href="{{ aridius_newslist }}">{{ buttonlist }}<span class="fa fa-angle-down menu"></span></a></div>
{% endif %} 
</div>
{% for aridius_news_story in aridius_news %} 
<div class="hide-news product-layoutcat col-xs-6 col-sm-4 col-md-4 col-lg-3">
{% if (aridius_news_story['video']) %} 
<div class="grid-aridius_news video video_news">
<iframe class="embed-responsive-item b-lazy" data-src="https://www.youtube.com/embed/{{ aridius_news_story['video'] }}" allowfullscreen></iframe>
</div>
{% endif %}
{% if (aridius_news_story['image'] and not aridius_news_show_img and not aridius_news_story['video']) %} 
<div class="grid-aridius_news col-xs-12 col-sm-12 col-md-12 col-lg-12">
<a href="{{ aridius_news_story['href'] }}" title="{{ aridius_news_story['title'] }}"><img class="img-responsive aridius_news-hover" src="{{ aridius_news_story['image'] }}" alt="{{ aridius_news_story['title'] }}" /></a>
</div>
{% endif %} 
{% if (not aridius_news_show_date) %} 
<p> <i class="fa fa-clock-o"></i> <span class="posted-aridius_news">{{ aridius_news_story['posted'] }}</span></p>
{% endif %} 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 aridius_news_h4">
<div class="">
<h4><a href="{{ aridius_news_story['href'] }}">{{ aridius_news_story['title'] }}</a></h4>
</div>
{% if (not aridius_news_show_description) %} 
<div class="description-aridius_news">
<p>{{ aridius_news_story['description'] }}</p>
</div>
{% endif %} 
<div class="read-more">
<a href="{{ aridius_news_story['href'] }}">{{ text_more }}&nbsp;&rarr;</a>
</div>
</div>
</div>
{% endfor %} 
</div>
{% endif %} 
</div>
</div>
</div>
</div>
