<hr>
<script>
$(document).ready(function () {
var viewedSwiper = new Swiper ('#rev_carusel{{ module }}.swiper-container', {
speed: {{ rew_speed }},
autoplay: {
delay: {{ autoplay }},
},
slidesPerView: 4,
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: false,
grabCursor:true,
autoplayDisableOnInteraction: true,
navigation: {
nextEl: '.rev-button-next',
prevEl: '.rev-button-prev',
},
breakpoints: {
1599: {
slidesPerView: 3,
},
1199: {
slidesPerView: 2,
},
768: {
slidesPerView: 1,
},
479: {
slidesPerView: 1,
},
}
})
$("#rev_carusel{{ module }}.swiper-container").hover(function() {
viewedSwiper.autoplay.stop();
}, function() {
viewedSwiper.autoplay.start();
});
});
</script>
<h3 class="title_h title_center">{{ heading_title_pr_view }}</h3>
<div class="padding-carusel row">
<div class="col-sm-12">
<div id="rev_carusel{{ module }}" class="rev_next_prev swiper-container">
<div class="swiper-wrapper">
{% for product in products %}
<div class="product-layout_rew swiper-slide">
<div class="product-thumb_rew transition">
<div class="image prrewiev"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a></div>
<div class="caption">
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (rat) %}
<div class="rew rating">
{% set i = 1 %}{% for i in i..5 %}
{% if (product['rating'] < i) %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
</div>
{% endif %}
<p class = "text-color">{{ product['text'] }}</p>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="modern-button-prev"></div>
<div class="modern-button-next"></div>
</div>
</div>