<div class="effectb">
<div class="effect-banner">
<div id="banner{{ module }}" class="banner-margin">
{% for banner in banners %} 
<div class="item">
{% if (banner['link']) %} 
<a href="{{ banner['link'] }}"><img src="{{ banner['image_back'] }}" alt="{{ banner['title'] }}" data-bandesk="{{ banner['image'] }}" data-banmob="{{ banner['image_mob'] }}" class="img-responsive scaleslide" /></a>
<div class="hover-textbanner">
<a href="{{ banner['link'] }}"></a>
{% if (banner['description']) %} 
<div class="efhover visible-md visible-lg">{{ (banner['description']) }}</div>
{% endif %} 
</div>
{% else %} 
<img src="{{ banner['image_back'] }}" data-bandesk="{{ banner['image'] }}" alt="{{ banner['title'] }}" data-banmob="{{ banner['image_mob'] }}" class="img-responsive scaleslide" />
{% if (banner['description']) %} 
<div class="hover-textbanner">
<div class="efhover visible-md visible-lg">{{ (banner['description']) }}</div>
</div>
{% endif %} 
{% endif %}
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %} 
</div>
</div>
</div>
<script>
$("#banner{{ module }} .swiper-lazy-preloader").remove();
$("#banner{{ module }} .scaleslide").each(function() {
	if($(window).width()>500){sldeckmob = $(this).data('bandesk')} else {sldeckmob = $(this).data('banmob')}
	$(this).attr('src', sldeckmob);
});
</script>

