<h3 class="title_h title_center">{{ heading_title }}</h3>
<div class="row">
{% for product in products %}
<div class="product-layout changebr  col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="product-thumbleft transition">
<div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a></div>
<div class="positionsticker">
<!-- special -->
{% if (modern_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
{% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
<div class="stickers-special"><span class="diamont_st">-{{ percent }}%</span></div>
{% endif %}
<!-- special END -->
<!-- new -->
{% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
{% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
{% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
{% if (modern_sticker_new_product_auto != 1 and days < modern_sticker_product_new_day or modern_sticker_new_product_auto != 0 and product['stickers'] == 1) %}
<div class="stickers-new"><span class="diamont_st">{{ modern_name_sticker_product_new[language_id] }}</span></div>
{% endif %}
<!-- new END -->
<!-- top -->
{% if (modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 1 and product['rating'] == modern_sticker_product_top_rating or modern_sticker_top_product_auto != 1 and modern_sticker_product_top_ratinr == 2 and product['viewed'] > modern_sticker_product_top_viewed or modern_sticker_top_product_auto != 0 and product['stickers'] == 2 ) %}
<div class="stickers-top"><span class="diamont_st">{{ modern_name_sticker_product_top[language_id] }}</span></div>
{% endif %}
<!-- top END -->
</div>
<div class="caption sixe_price">
<h4><a href="{{ product['href'] }}">
{% if (product['name'])|length < modern_limit_symbolst %}
{{ product['name'] }}
{% else %}
{{ (product['name']|slice(0, modern_limit_symbolst))~"..." }}
{% endif %}
</a></h4>
{% if (product['price']) %}
{% if (not product['special']) %}
<p class="price" >
{{ product['price'] }}
{% else %}
<p class="price pr_bottom">
<span class="price-new">{{ product['special'] }}</span><br /> <span class="price-old">{{ product['price'] }}</span>
{% endif %}
{% if (product['tax']) %}
<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
{% endif %}
</p>
{% endif %}
</div>
<div class="cart">
<button type="button" class="btn-cart" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> {{ button_cart }}</button>
</div>
</div>
</div>
{% endfor %}
</div>