<div class="pagcolor">
<div id="slideshow{{ module }}" class="swiper-container">
<div class="swiper-wrapper">
{% for banner in banners %}
<div class="item swiper-slide">
{% if (banner['description']) %}
<div>{{ (banner['description']) }}</div>
{% endif %}
{% if (banner['link']) %}
<a href="{{ banner['link'] }}"><img src="{{ banner['image_back'] }}" alt="{{ banner['title'] }}" data-sldesk="{{ banner['image'] }}" data-slmob="{{ banner['image_mob'] }}" class="img-responsive scaleslide" /></a>
{% else %}
<img src="{{ banner['image_back'] }}" alt="{{ banner['title'] }}" data-sldesk="{{ banner['image'] }}" data-slmob="{{ banner['image_mob'] }}" class="img-responsive scaleslide" />
{% endif %}
<div class="swiper-lazy-preloader"></div>
</div>
{% endfor %}
</div>
</div>
<div class="swiper-pager">
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
</div>
<script>
var viewedSwiper = new Swiper ('#slideshow{{ module }}.swiper-container', {
mode: 'horizontal',
{% if (transitionStyle != '0') %}
effect: {% if (transitionStyle == '1') %}"fade",{% endif %}{% if (transitionStyle == '2') %}"coverflow",{% endif %}{% if (transitionStyle == '3') %}"cube",{% endif %}
{% endif %}
watchSlidesVisibility:true,
watchSlidesProgress:true,
loop: true,
grabCursor:true,
autoplayDisableOnInteraction: true,
speed:1000,
autoplay: 10000,
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},
autoplay: {
delay: 10000,
},
})
$("#slideshow{{ module }} .swiper-lazy-preloader").remove();
$("#slideshow{{ module }} .scaleslide").each(function() {
	if($(window).width()>500){sldeckmob = $(this).data('sldesk')} else {sldeckmob = $(this).data('slmob')}
	$(this).attr('src', sldeckmob);
});
$("#slideshow{{ module }}.swiper-container").hover(function() {
viewedSwiper.autoplay.stop();
}, function() {
viewedSwiper.autoplay.start();
});
</script>