{% if (not modern_header_var) %}
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
<div class="top-menu">
<div id="top-menu" >
<div class="nobackground">
<nav id="menu" class="navbar">
<div class="navbar-header">
<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse menu_adapt_coll">
<ul class="nav navbar-nav">
{% if (modern_ico_home != 1 and class != 'common-home') %}
<li><a href="{{ base }}"><i class="fa fa-home fa_homemenu"></i></a></li>
{% endif %}
{% if (modern_ico_home_text != 1 and class != 'common-home') %}
<li><a href="{{ base }}">{{ text_homel }}</i></a></li>
{% endif %}
</ul>
{% if (modern_seevmenu_menu != 1) %}
<ul class="nav navbar-nav">
{% if (not modern_open_menu and class == 'common-home') %}
<li class="dropdown open">
{% else %}
<li class="dropdown">
{% endif %}
<a class="with-child dropdown-toggle size" {% if (modern_link_menucatalog is not empty) %} href="{{ modern_link_menucatalog }}" {% endif %} data-hover="dropdown" data-delay="1" data-close-others="false">
{% if (modern_seevmenuico != 1) %}
<i class="fa fa-bars"></i>&nbsp;&nbsp;
{% endif %}
{{ modern_vmenu_menu[language_id] }}<span class="fa fa-angle-down menu"></span></a>
<ul class="dropdown-menu multi-level" role="menu">
{% for category in categories %}
{% if (category['children']) %}
<li class="dropdown-submenu li-drop close-button" >
<a class="dr_menu" tabindex="-1" href="{{ category['href'] }}">{{ category['name'] }}<span class="arrowvertmenu"></span></a>
<ul class="dropdown-menu2 column_width3">
<li class="{% if (category['image_main'] and modern_main_photos_menu != 1) %}col-sm-9{% else %}col-sm-12{% endif %}">
<ul class="row">
{% for child in category['children'] %}
<li class="mcol {% if (category['image_main'] and modern_main_photos_menu != 1) %}col-sm-4 menu_clear2{% else %}col-sm-3 menu_clear2_noimage{% endif %}">
<span class = "hidden-xs">{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<a href="{{ child['href'] }}"><img class="vopmen img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a>{% endif %}</span>
<a class="submenu_main" href="{{ child['href'] }}">{{ child['name'] }}</a>
{% if (modern_3lv_menu != 1) %}
{% if (child['children_lv3'] is defined and child['children_lv3']) %}
{% set v = 0 %}
{% set break = false %}
{% for child_lv3 in child['children_lv3'] if not break %}
<div><a class = "menuv_3lv " href="{{ child_lv3['href'] }}">&nbsp;&nbsp;- {{ child_lv3['name'] }}</a></div>
{% set v = v + 1 %}
{% if (v >modern_countvmenulv - 1) %}
<div><a class="menuv-allv" href="{{ child['href'] }}">{{ modern_seeall_menu[language_id] }}&nbsp;→</a></div>
{% set break = true %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>
</li>
{% if (category['image_main'] and modern_main_photos_menu != 1) %}
<li class="col-lg-3 col-md-3 col-sm-3 li-main-foto">
<a href="{{ category['href'] }}">
<div class="main-foto-pos"><img class="main-foto-menu img-responsive" alt="{{ category['name'] }}" title="{{ category['name'] }}" src="{{ category['image_main'] }}"><span class="main-foto-back"></span></div>
</a>
</li>
{% endif %}
</ul>
</li>
{% else %}
<li class="v3hover li-drop close-button"><a class="dr_menu" href="{{ category['href'] }}">{{ category['name'] }}</a></li>
{% endif %}
{% endfor %}
<li id="openclose">
<p class="dr_menu menu_slow">{{ text_modern_menu_open }}</p>
</li>
</ul>
</li>
</ul>
{% else %}
<ul class="nav navbar-nav">
{% for category in categories %}
{% if (category['children']) %}
<li class="{% if (category['category_id'] == category_id) %}{{ 'activetopmenu' }}{% endif %} dropdown static_pos">
<a class="with-child dropdown-toggle" href="{{ category['href'] }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ category['name'] }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu marg_top">
<div class="dropdown-inner children-category">
<ul class="{% if (category['image_main'] and modern_main_photos_menu != 1) %} col-lg-10 col-md-10 col-sm-10 clear_menu_cat_img {% else %} col-lg-12 col-md-12 col-sm-12 clear_menu_cat_noimg {% endif %}">
<li class="row list_type">
{% for child in category['children'] %}
<ul class="list-unstyled {% if (category['image_main'] and modern_main_photos_menu != 1) %}col-lg-2 col-md-3 col-sm-3 menu_clear{% else %}col-lg-2 col-md-2 col-sm-3 menu_clear_noimage{% endif %}" >
{% if (child['children_lv3'] is defined and child['children_lv3']) %}
<li class="with-child" >
<span class = "hidden-xs hidden-sm">{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<a href="{{ child['href'] }}"><img class="opacityhv img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a>{% endif %}</span>
<a href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a>
</li>
{% if (modern_3lv_menu != 1) %}
{% set m = 0 %}
{% set break = false %}
{% for child_lv3 in child['children_lv3'] if not break %}
<li class="children_lv3"><a href="{{ child_lv3['href'] }}">&nbsp;&nbsp;- {{ child_lv3['name'] }}</a>
{% set m = m + 1 %}
{% if (m >modern_countvmenulv - 1) %}
<a class="menuv-all" href="{{ child['href'] }}">{{ modern_seeall_menu[language_id] }}</a>
{% set break = true %}
{% endif %}
</li>
{% endfor %}
{% endif %}
{% else %}
<li>{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<span class = "hidden-xs hidden-sm"><a href="{{ child['href'] }}"><img class="opacityhv img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a></span>{% endif %}<a href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a></li>
{% endif %}
</ul>
{% endfor %}
</li>
</ul>
{% if (category['image_main'] and modern_main_photos_menu != 1) %}
<ul class="col-lg-2 col-md-3 col-sm-3 li-main-foto"><li class="list_type">
<a href="{{ category['href'] }}">
<div class="main-foto-pos"><img class="image_main main-foto-menu img-responsive" alt="{{ category['name'] }}" title="{{ category['name'] }}" src="{{ category['image_main'] }}"><span class="main-foto-back"></span></div>
</a>
</li></ul>
{% endif %}
</div>
</div>
</li>
{% else %}
<li class="{% if (category['category_id'] == category_id) %}{{ 'activetopmenu' }}{% endif %}"><a href="{{ category['href'] }}">{{ category['name'] }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
<ul class="nav navbar-nav">
<!--add menu link-->
{% if (modern_top_links8 ) %}
{% for modern_top_link8 in modern_top_links8 %}
<li>
<a {% if (modern_top_link8['link_top'][language_id]) %} href="{{ modern_top_link8['link_top'][language_id] }}"{% endif %}>{% if (modern_top_link8['faicons_top']) %} <i class="{{ modern_top_link8['faicons_top'] }}"></i> {% endif %}{% if (modern_top_link8['title']) %}{{ modern_top_link8['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
{% endif %}
<!--add menu link-->
<!--other link-->
{% if (modern_main_link_menu[language_id]) %}
<li class="dropdown">
<a class="with-child dropdown-toggle" {% if (modern_main_link_href_menu[language_id] is not empty) %} href="{{ modern_main_link_href_menu[language_id] }}" {% else %} href="javascript:void(0)" {% endif %} data-hover="dropdown" data-delay="1" data-close-others="false">{{ modern_main_link_menu[language_id] }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu">
<div class="dropdown-inner1 children-category">
<ul class="list-unstyled">
{% if (modern_top_links4 ) %}
{% for modern_top_link4 in modern_top_links4 %}
<li>
<a {% if (modern_top_link4['link_top'][language_id]) %} href="{{ modern_top_link4['link_top'][language_id] }}"{% endif %} title="{{ modern_top_link4['title'][language_id] }}">{% if (modern_top_link4['faicons_top']) %} <i class="{{ modern_top_link4['faicons_top'] }}"></i>{% endif %}{% if (modern_top_link4['title']) %} {{ modern_top_link4['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
{% endif %}
</ul>
</div>
</div>
</li>
{% endif %}
<!--other link END-->
<!--informations-->
{% if (modern_info_menu != 1) %}
{% if (informations) %}
<li class="dropdown">
<a class="with-child dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false">{{ text_information }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu">
<div class="dropdown-inner1 children-category">
<ul class="list-unstyled">
{% for information in informations %}
<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
{% endfor %}
</ul>
</div>
</div>
</li>
{% endif %}
{% endif %}
<!--informations END-->
<!--manufacturer-->
{% if (modern_man_menu != 1) %}
{% if (manufacturers) %}
<li class="dropdown postion_fullmenu2">
<a class="with-child dropdown-toggle" href="{{ href_manufacturer }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ text_manufacturer }}<span class="fa fa-angle-down menu"></span></a>
<div class="mancss dropdown-menu">
<div class="dropdown-inner children-category">
{% for manufacturer in manufacturers %}
<ul class="list-unstyled" style="width: {{ 100/modern_menuman_column-1 }}%">
<li>{% if (modern_photos_menu_manuf != 1) %}<span class = "hidden-xs hidden-sm "><a class = "manufac-menu" href="{{ manufacturer['href'] }}"><img class="opacityhv manimgmen" src="{{ manufacturer['manufacturer_image'] }}" alt="{{ manufacturer['name'] }}" title="{{ manufacturer['name'] }}" ></a></span>{% endif %}<a class = "manufac-menu" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a></li>
</ul>
{% endfor %}
</div>
</div>
</li>
{% endif %}
{% endif %}
<!--manufacturer END-->
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</div>
<script>
//button_open_menu
var categories_count = {{ categories|length }};
var modern_menu_category_lg = {{ modern_menu_category_lg }};
var modern_menu_category_md = {{ modern_menu_category_md }};
var modern_menu_category_sm = {{ modern_menu_category_sm }};

function closeButton() {
 if ($(window).width() > 991 && $(window).width() < 1200) { 
		category_menu = {{ category_menu_sm }};
		if (modern_menu_category_sm < categories_count) { 
			$('#openclose').css('display', ''); 
		} else { 
			$('#openclose').css('display', 'none'); 
		} 
	} else if ($(window).width() > 1199 && $(window).width() < 1600) {
		category_menu = {{ category_menu_md }};
		if (modern_menu_category_md < categories_count) { 
			$('#openclose').css('display', '');
		} else { 
			$('#openclose').css('display', 'none');
		} 
	} else if ($(window).width() > 1599) {
		category_menu = {{ category_menu_lg }};
		if (modern_menu_category_lg < categories_count) { 
			$('#openclose').css('display', '');
		} else { 
			$('#openclose').css('display', 'none');
		} 
	} 
} 
if ($(window).width() > 991) {
		closeButton();
	$(window).resize(function() {
		closeButton();
	});
}

$(".menu_slow").click(function () {
	if ($("#menu .open.dropdown .dropdown-menu > li.li-drop:nth-last-child(-n+"+ category_menu +")").is(":hidden")) {
		$("#menu .open.dropdown .dropdown-menu > li.li-drop:nth-last-child(-n+"+ category_menu +")").show("slow");
		$('#menu .open.dropdown .li-drop').removeClass('close-button');
		$('#menu .open.dropdown .li-drop').addClass('open-button');
		$('.menu_slow').text('{{ text_modern_menu_close }}');
	} else { 
		$("#menu .open.dropdown .dropdown-menu > li.li-drop:nth-last-child(-n+"+ category_menu +")").hide("slow");
		$('#menu .open.dropdown .li-drop').removeClass('open-button');
		$('#menu .open.dropdown .li-drop').addClass('close-button');
		$('.menu_slow').text('{{ text_modern_menu_open }}');
	} 
return false; 
});
</script>
<script>
$("#menu .open.dropdown >.dropdown-menu").on("mouseenter",function(){$("#menu .open.dropdown .dropdown-toggle").after('<div id="menu_hover_background"></div>')}),$("#menu .open.dropdown >.dropdown-menu").on("mouseleave",function(){$("#menu_hover_background").remove()});
</script>
{% else %}
<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 postion_fullmenu2 hidden-xs">
<div class="top-menu">
<div id="top-menu" >
<div class="nobackground">
<nav id="menu" class="navbar">
<div class="navbar-header">
<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse menu_adapt_coll">
<ul class="nav navbar-nav">
{% if (modern_ico_home != 1) %}
<li><a href="{{ base }}"><i class="fa fa-home fa_homemenu"></i></a></li>
{% endif %}
{% if (modern_ico_home_text != 1) %}
<li><a href="{{ base }}">{{ text_homel }}</i></a></li>
{% endif %}
</ul>
{% if (modern_seevmenu_menu != 1) %}
<ul class="nav navbar-nav">
<li class="dropdown">
<a class="with-child dropdown-toggle size" {% if (modern_link_menucatalog is not empty) %} href="{{ modern_link_menucatalog }}" {% endif %} data-hover="dropdown" data-delay="1" data-close-others="false">
{% if (modern_seevmenuico != 1) %}
<i class="fa fa-bars"></i>&nbsp;&nbsp;
{% endif %}
{{ modern_vmenu_menu[language_id] }}<span class="fa fa-angle-down menu"></span></a>
<ul class="dropdown-menu multi-level" role="menu">
{% for category in categories %}
{% if (category['children']) %}
<li class="dropdown-submenu li-drop" >
<a class="dr_menu" tabindex="-1" href="{{ category['href'] }}">{{ category['name'] }}<span class="arrowvertmenu"></span></a>
<ul class="dropdown-menu2 column_width3">
<li class="{% if (category['image_main'] and modern_main_photos_menu != 1) %}col-sm-9{% else %}col-sm-12{% endif %}">
<ul class="row">
{% for child in category['children'] %}
<li class="mcol {% if (category['image_main'] and modern_main_photos_menu != 1) %}col-sm-4 menu_clear2{% else %}col-sm-3 menu_clear2_noimage{% endif %}">
<span class = "hidden-xs">{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<a href="{{ child['href'] }}"><img class="vopmen img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a>{% endif %}</span>
<a class="submenu_main" href="{{ child['href'] }}">{{ child['name'] }}</a>
{% if (modern_3lv_menu != 1) %}
{% if (child['children_lv3'] is defined and child['children_lv3']) %}
{% set v = 0 %}
{% set break = false %}
{% for child_lv3 in child['children_lv3'] if not break %}
<div><a class = "menuv_3lv " href="{{ child_lv3['href'] }}">&nbsp;&nbsp;- {{ child_lv3['name'] }}</a></div>
{% set v = v + 1 %}
{% if (v >modern_countvmenulv - 1) %}
<div><a class="menuv-allv" href="{{ child['href'] }}">{{ modern_seeall_menu[language_id] }}&nbsp;→</a></div>
{% set break = true %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>
</li>
{% if (category['image_main'] and modern_main_photos_menu != 1) %}
<li class="col-lg-3 col-md-3 col-sm-3 li-main-foto">
<a href="{{ category['href'] }}">
<div class="main-foto-pos"><img class="main-foto-menu img-responsive" alt="{{ category['name'] }}" title="{{ category['name'] }}" src="{{ category['image_main'] }}"><span class="main-foto-back"></span></div>
</a>
</li>
{% endif %}
</ul>
</li>
{% else %}
<li class="v3hover li-drop"><a class="dr_menu" href="{{ category['href'] }}">{{ category['name'] }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
</ul>
{% else %}
<ul class="nav navbar-nav">
{% for category in categories %}
{% if (category['children']) %}
<li class="{% if (category['category_id'] == category_id) %}{{ 'activetopmenu' }}{% endif %} dropdown postion_fullmenu2">
<a class="with-child dropdown-toggle" href="{{ category['href'] }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ category['name'] }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu marg_top">
<div class="dropdown-inner children-category">
<ul class="{% if (category['image_main'] and modern_main_photos_menu != 1) %} col-lg-10 col-md-10 col-sm-10 clear_menu_cat_img {% else %} col-lg-12 col-md-12 col-sm-12 clear_menu_cat_noimg {% endif %}">
<li class="row list_type">
{% for child in category['children'] %}
<ul class="list-unstyled {% if (category['image_main'] and modern_main_photos_menu != 1) %}col-lg-2 col-md-3 col-sm-3 menu_clear{% else %}col-lg-2 col-md-2 col-sm-3 menu_clear_noimage{% endif %}" >
{% if (child['children_lv3'] is defined and child['children_lv3']) %}
<li class="with-child" >
<span class = "hidden-xs hidden-sm">{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<a href="{{ child['href'] }}"><img class="opacityhv img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a>{% endif %}</span>
<a href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a>
</li>
{% if (modern_3lv_menu != 1) %}
{% set m = 0 %}
{% set break = false %}
{% for child_lv3 in child['children_lv3'] if not break %}
<li class="children_lv3"><a href="{{ child_lv3['href'] }}">&nbsp;&nbsp;- {{ child_lv3['name'] }}</a>
{% set m = m + 1 %}
{% if (m >modern_countvmenulv - 1) %}
<a class="menuv-all" href="{{ child['href'] }}">{{ modern_seeall_menu[language_id] }}</a>
{% set break = true %}
{% endif %}
</li>
{% endfor %}
{% endif %}
{% else %}
<li>{% if (modern_photos_menu != 1 and (child['image2'] is not empty)) %}<span class = "hidden-xs hidden-sm"><a href="{{ child['href'] }}"><img class="opacityhv img-responsive" src="{{ child['image2'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" ></a></span>{% endif %}<a href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a></li>
{% endif %}
</ul>
{% endfor %}
</li>
</ul>
{% if (category['image_main'] and modern_main_photos_menu != 1) %}
<ul class="col-lg-2 col-md-3 col-sm-3 li-main-foto"><li class="list_type">
<a href="{{ category['href'] }}">
<div class="main-foto-pos"><img class="image_main main-foto-menu img-responsive" alt="{{ category['name'] }}" title="{{ category['name'] }}" src="{{ category['image_main'] }}"><span class="main-foto-back"></span></div>
</a>
</li></ul>
{% endif %}
</div>
</div>
</li>
{% else %}
<li class="{% if (category['category_id'] == category_id) %}{{ 'activetopmenu' }}{% endif %}"><a href="{{ category['href'] }}">{{ category['name'] }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
<ul class="nav navbar-nav">
<!--add menu link-->
{% if (modern_top_links8 ) %}
{% for modern_top_link8 in modern_top_links8 %}
<li>
<a {% if (modern_top_link8['link_top'][language_id]) %} href="{{ modern_top_link8['link_top'][language_id] }}"{% endif %}>{% if (modern_top_link8['faicons_top']) %} <i class="{{ modern_top_link8['faicons_top'] }}"></i> {% endif %}{% if (modern_top_link8['title']) %}{{ modern_top_link8['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
{% endif %}
<!--add menu link-->
<!--other link-->
{% if (modern_main_link_menu[language_id]) %}
<li class="dropdown">
<a class="with-child dropdown-toggle" {% if (modern_main_link_href_menu[language_id] is not empty) %} href="{{ modern_main_link_href_menu[language_id] }}" {% else %} href="javascript:void(0)" {% endif %} data-hover="dropdown" data-delay="1" data-close-others="false">{{ modern_main_link_menu[language_id] }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu">
<div class="dropdown-inner1 children-category">
<ul class="list-unstyled">
{% if (modern_top_links4 ) %}
{% for modern_top_link4 in modern_top_links4 %}
<li>
<a {% if (modern_top_link4['link_top'][language_id]) %} href="{{ modern_top_link4['link_top'][language_id] }}"{% endif %} title="{{ modern_top_link4['title'][language_id] }}">{% if (modern_top_link4['faicons_top']) %} <i class="{{ modern_top_link4['faicons_top'] }}"></i>{% endif %}{% if (modern_top_link4['title']) %} {{ modern_top_link4['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
{% endif %}
</ul>
</div>
</div>
</li>
{% endif %}
<!--other link END-->
<!--informations-->
{% if (modern_info_menu != 1) %}
{% if (informations) %}
<li class="dropdown">
<a class="with-child dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false">{{ text_information }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu">
<div class="dropdown-inner1 children-category">
<ul class="list-unstyled">
{% for information in informations %}
<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
{% endfor %}
</ul>
</div>
</div>
</li>
{% endif %}
{% endif %}
<!--informations END-->
<!--manufacturer-->
{% if (modern_man_menu != 1) %}
{% if (manufacturers) %}
<li class="dropdown manuf_drop postion_fullmenu2">
<a class="with-child dropdown-toggle" href="{{ href_manufacturer }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ text_manufacturer }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu mancss">
<div class="dropdown-inner children-category">
{% for manufacturer in manufacturers %}
<ul class="list-unstyled" style="width: {{ 100/modern_menuman_column-1 }}%">
<li><span class = "hidden-xs hidden-sm ">{% if (modern_photos_menu_manuf != 1) %}<a class = "manufac-menu" href="{{ manufacturer['href'] }}"><img class="opacityhv manimgmen" src="{{ manufacturer['manufacturer_image'] }}" alt="{{ manufacturer['name'] }}" title="{{ manufacturer['name'] }}" ></a></span>{% endif %}<a class = "manufac-menu" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a></li>
</ul>
{% endfor %}
</div>
</div>
</li>
{% endif %}
{% endif %}
<!--manufacturer END-->
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
{% endif %}