<div class="block_logo_drop col-xs-12">
<div class="row">
<div class="{% if (languages|length > 1 or currencies|length > 1) %}col-xs-6{% else %}col-xs-12{% endif %} cart table-cell-header">
{% if (logo) %}
{% if (location_home == 'common-home') %}
<img id="logo_img" src="{% if (modern_img_logomob) %}{{ modern_img_logomob }}{% else %}{{ logo }}{% endif %}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
{% else %}
<a href="{{ home }}"><img src="{% if (modern_img_logomob) %}{{ modern_img_logomob }}{% else %}{{ logo }}{% endif %}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
{% endif %}
{% else %}
<h1><a href="{{ home }}">{{ name }}</a></h1>
{% endif %}
</div>
{% if languages|length > 1 %}
<div class="col-xs-6">
<div class="form_cur_lang">
{% for language in languages %}
{% if (language['code'] == language_code) %}
<button class="active btn_cur_lang btn-link language-select language-push" type="button" data-codelan="{{ language['code'] }}">{{ language['name'] }}</button>
{% else %}
<button class="btn_cur_lang btn-link language-select language-push" type="button" data-codelan="{{ language['code'] }}">{{ language['name'] }}</button>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
{% if currencies|length > 1 %}
<div class="col-xs-6">
<div class="form_cur_lang" >
{% for currency in currencies %}
{% if (currency['code'] == currency_code) %}
<button class="active btn_cur_lang currency-select btn-link currency-push" type="button" data-code="{{ currency['code'] }}">{{ currency['code'] }}</button>
{% else %}
<button class="currency-select btn btn-link btn_cur_lang currency-push" type="button" data-code="{{ currency['code'] }}">{{ currency['code'] }}</button>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
</div>
<div class="row">
<div class="col-xs-12">
<ul class="list-inline top">
{% if (modern_account_top != 1) %}
{% if (logged) %}
<div class="nav">
<ul class="list-inline perc_cab">
<li class="dropdown">
<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span>{{ text_account }}</span> <span class="caret"></span></a>
<ul class="dropdown-menu">
{% if (logged) %}
<li><a href="{{ account }}">{{ text_account }}</a></li>
{% if (modern_order_top != 1) %}
<li><a href="{{ order }}">{{ text_order }}</a></li>
{% endif %}
{% if (modern_transaction_top != 1) %}
<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
{% endif %}
{% if (modern_download_top != 1) %}
<li><a href="{{ download }}">{{ text_download }}</a></li>
{% endif %}
<li><a href="{{ logout }}">{{ text_logout }}</a></li>
{% else %}
<li><a href="{{ register }}">{{ text_register }}</a></li>
<li><a href="{{ login }}">{{ text_login }}</a></li>
{% endif %}
</ul>
</li>
</ul>
</div>
{% else %}
<li><img src="catalog/view/theme/modern/image/shablon/key_header.png" alt="key"></li>
<li class="log"><a href="{{ login }}">{{ text_login }}</a></li>
<li class="reg"><a href="{{ register }}">{{ text_register }}</a></li>
{% endif %}
{% endif %}
{% if (modern_cart_top != 1) %}
<li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart hidden-lg hidden-md"></i> <span class="hidden-xs hidden-sm ">{{ text_shopping_cart }}</span></a></li>
{% endif %}
{% if (modern_checkout_top != 1) %}
<li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share hidden-lg hidden-md"></i> <span class="hidden-xs hidden-sm ">{{ text_checkout }}</span></a></li>
{% endif %}
</ul>
</div>
</div>
</div>
<div class="menu_mob_cat col-xs-12">
<div class="row">
<div class="mob_main col-xs-12">
<ul class="list-unstyled">
<li><a href="{{ base }}">{{ text_homel }}</i></a></li>
</ul>
</div>
{% if (theme_modern_other3 ==1) %}
<div class="col-xs-12">
<button type="button" class="btn btn-navbar navbar-toggle menu_button collapsed" data-toggle="collapse" data-target="#navbar-menu-mob">{{ text_category }}<i class="fa fa-2x fa-angle-left fa_menu"></i></button>
</div>
{% endif %}
<div class="navbar-collapse collapse {% if (theme_modern_other3 != 1) %} in {% endif %}" id="navbar-menu-mob">
<ul id="menu" class="nav navbar-nav">
{% for category in categories %}
{% if (category['children']) %}
<li class="plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></li>
<li class="dropdown static_pos">
<a class="with-child dropdown-toggle" href="{{ category['href'] }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ category['name'] }}<span class="fa fa-angle-down menu"></span></a>
<div class="dropdown-menu marg_top">
<div class="dropdown-inner children-category">
{% for child in category['children'] %}
<ul class="list-unstyled" >
{% if (child['children_lv3'] is defined and child['children_lv3']) %}
<li class="with-child2" >
<a class="pad_a_child" href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a>
</li>
{% for child_lv3 in child['children_lv3'] %}
<li class="children_lv3"><a href="{{ child_lv3['href'] }}">&nbsp;&nbsp;- {{ child_lv3['name'] }}</a></li>
{% endfor %}
{% else %}
<li><a class="pad_a_child" href="{{ child['href'] }}"><span class="style2lv">{{ child['name'] }}</span></a></li>
{% endif %}
</ul>
{% endfor %}
</div>
</div>
</li>
{% else %}
<li><a href="{{ category['href'] }}">{{ category['name'] }}</a></li>
{% endif %}
{% endfor %}
{% if (modern_man_menu != 1) %}
{% if (manufacturers) %}
<li class="plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></li>
<li class="dropdown postion_fullmenu2">
<a class="with-child dropdown-toggle" href="{{ href_manufacturer }}" data-hover="dropdown" data-delay="1" data-close-others="false">{{ text_manufacturer }}<span class="fa fa-angle-down menu"></span></a>
<div class="mancss dropdown-menu">
<div class="dropdown-inner children-category">
{% for manufacturer in manufacturers %}
<ul class="list-unstyled">
<li><a class = "manufac-menu" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a></li>
</ul>
{% endfor %}
</div>
</div>
</li>
{% endif %}
{% endif %}
</ul>
</div>
<!--add menu link-->
{% if (modern_top_links8 ) %}
<div class="mob_info_first col-xs-12">
<ul class="list-unstyled">
{% for modern_top_link8 in modern_top_links8 %}
<li>
<a {% if (modern_top_link8['link_top'][language_id]) %} href="{{ modern_top_link8['link_top'][language_id] }}"{% endif %}>{% if (modern_top_link8['faicons_top']) %} <i class="{{ modern_top_link8['faicons_top'] }}"></i> {% endif %}{% if (modern_top_link8['title']) %}{{ modern_top_link8['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
<!--add menu link-->
</div>
</div>
{% if (modern_telephone_mainheader2[language_id] or modern_telephone_mainheader[language_id] or modern_top_links3 or modern_top_links5 or modern_mail_header[language_id]) %}


<div class="contact">
<a class="cont" href="№" onclick="$('.tt').toggleClass('act');$('.cont .fa-plus').toggleClass('act');return false;" data-hover="dropdown">Контакты <i class="fa fa-plus act"></i><i class="fa fa-minus"></i></a>



<style>
	.cont{
		border-top: none;
	    color: #333;
	    padding: 10px 28px 10px 15px;
	    margin-right: 55px;
	    width: 100%;
	    display: flex;
	    height: max-content;
	    justify-content: space-between;
	}
	.cont .plus, .fa-plus .fa-minus {
		color: #777;
		margin-top: 12px;
		margin-right: 5px;
		position: absolute;
		right: 0px;
		width: 50px;
		text-align: center;
		height: 25px;
		float: right;
		z-index: 99;
	}
	.cont .fa.fa-plus{
		display: none;
	}
	.cont .fa.fa-plus.act{
		display: block;
	}
	.fa-plus.act ~ .fa-minus{
		display: none;
	}
	.table.tt.act{
		display: none;
	}


</style>

<table class="table tt act">
<tbody>
{% if (modern_telephone_mainheader2[language_id] or modern_telephone_mainheader[language_id]) %}
<tr>
<td class="fa_table" rowspan="{% if (modern_telephone_mainheader2[language_id]) %}2{% else %}1{% endif %}">
<div class="circleout2"><i class="fa fa-phone"></i></div>
</td>
<td>
<div><a href="tel:{{ modern_telephone_mainheader[language_id] }}" class="tell_nav">{{ modern_telephone_mainheader[language_id] }}</a></div>
</td>
</tr>
{% if (modern_telephone_mainheader2[language_id]) %}
<tr>
<td>
<div class="phone">
<div class="listunstyled "><a href="tel:{{ modern_telephone_mainheader2[language_id] }}" class="tell_nav">{{ modern_telephone_mainheader2[language_id] }}</a></div>
</div>
</td>
</tr>
{% endif %}
{% endif %}
{% if (modern_top_links3 ) %}
{% for modern_top_link3 in modern_top_links3 %}
<tr>
<td style="text-align:center;font-size: 20px;">{% if (modern_top_link3['faicons_top']) %}<i class="{{ modern_top_link3['faicons_top'] }}"></i>{% endif %}</td>
<td><a class="tell_nav" {% if (modern_top_link3['title'][language_id]) %} href="tel:{{ modern_top_link3['title'][language_id] }}"{% endif %} > {{ modern_top_link3['title'][language_id] }}</a></td>
</tr>
{% endfor %}
{% endif %}
{% if (modern_top_links5 ) %}
{% for modern_top_link5 in modern_top_links5 %}
<tr>
<td style="text-align:center;font-size: 20px;">{% if (modern_top_link5['faicons_top']) %}<i class="{{ modern_top_link5['faicons_top'] }}"></i>{% endif %}</td>
<td><a class="tell_nav" {% if (modern_top_link5['title'][language_id]) %} href="{{ modern_top_link5['link'][language_id] }}"{% endif %} > {{ modern_top_link5['title'][language_id] }}</a></td>
</tr>
{% endfor %}
{% endif %}
{% if (modern_mail_header[language_id] ) %}
<tr>
<td style="text-align:center;font-size: 20px;"><i class="fa fa-envelope-o"></i></td>
<td><a class="tell_nav" onClick="javascript:window.location.href='mailto:{{ modern_mail_header[language_id] }}';return false;" href="javascript:close_window();" > {{ modern_mail_header[language_id] }}</a></td>
</tr>
{% endif %}
</tbody>
</table>
{% endif %}
</div>

<div class="mob_wish_com col-xs-12">
<div class="mob_wish">
{% if (modern_wishlist_top != 1) %}
<a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp; <span class="">{{ text_wishlist }}</span></a>
{% endif %}
</div>
<div class="mob_compare">
{% if (modern_compare_top != 1) %}
<a href="{{ compare }}" id="compare-total" title="{{ text_compare }}"><i class="fa fa-balance-scale"></i>&nbsp;&nbsp;&nbsp; <span class="">{{ text_compare }}</span></a>
{% endif %}
</div>
</div>
<!--informations-->
{% if (modern_info_menu != 1) %}
{% if (informations) %}
<div class="mob_info col-xs-12">
<ul class="list-unstyled">
{% for information in informations %}
<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endif %}
<!--informations END-->
<!--other link-->
{% if (modern_main_link_menu[language_id]) %}
<div class="mob_other_info col-xs-12">
<ul class="list-unstyled">
{% if (modern_top_links4 ) %}
{% for modern_top_link4 in modern_top_links4 %}
<li>
<a {% if (modern_top_link4['link_top'][language_id]) %} href="{{ modern_top_link4['link_top'][language_id] }}"{% endif %} title="{{ modern_top_link4['title'][language_id] }}">{% if (modern_top_link4['faicons_top']) %} <i class="{{ modern_top_link4['faicons_top'] }}"></i>{% endif %}{% if (modern_top_link4['title']) %} {{ modern_top_link4['title'][language_id] }}{% endif %}</a>
</li>
{% endfor %}
{% endif %}
</ul>
</div>
{% endif %}
<!--other link END-->
<script>
$(document).ready(function(){
	$('.currency-push').on('click', function() {
		var code = $(this).attr("data-code");
		$(".currency-push-js[name='" + code + "']").trigger('click');
	});
	$('.language-push').on('click', function() {
		var code_lan = $(this).attr("data-codelan");
		$(".language-push-js[name='" + code_lan + "']").trigger('click');
	});
});
</script>
<script><!--
$(document).ready(function(){
$('#menu_adapt .menu_mob_cat li').bind().click(function(e) {
	$(this).toggleClass("open").find('>ul').stop(true, true).slideToggle(3000)
	.end().siblings().find('>ul').slideUp().parent().removeClass("open");
	e.stopPropagation();
	// Замена + на - во время открытия меню
	$(this).prev().find('.fa-plus').toggle();
	$(this).prev().find('.fa-minus').toggle();
});
$('#menu_adapt .menu_mob_cat li a').click(function(e) {
	e.stopPropagation();
});
// Раскрытие/скрытие пунктов меню 3го уровня
$('.children-category > ul > li').each(function(i, elem){
	if( $(elem).hasClass('children_lv3') ) {
		var ulElements = $(elem).parent().find('li');
		if( $(ulElements[0]).find('a.plus-link').length == 0 ) {
			$(ulElements[0]).append('<a href="#" class="plus-link"><i class="fa fa-plus" style="display: inline; "></i><i class="fa fa-minus" style="display: none;"></i></a>');
			$(ulElements[0]).find('a.plus-link').click(function(e){
				$(ulElements[0]).find('a.plus-link > .fa-plus').toggle();
				$(ulElements[0]).find('a.plus-link > .fa-minus').toggle();
				$(ulElements[0]).parent().find('.children_lv3').toggle();
				return false;
			});
		}
	}
});
});
//--></script>