{{ header }}
{% if column_left %}
	{% set class = '' %}
{% else %}
    {% set class = 'container' %}
{% endif %}
{{ content_fluid }}
<div id="banner_back">
<div class="container">
<div class="row">
<div class="col-sm-12">
{% if (not modern_open_menu and not modern_header_var and not modern_seevmenu_menu or content_fluid and not content_slleft) %}
{% if (content_slleft) %}
<div class="col-md-3 col-sm-3 col-lg-3 col-left-banner hidden-xs"></div>
<div class="col-xs-12 col-md-9 col-sm-9 col-lg-9 fixsl col-right-banner"> {{ content_slleft }}</div>{% endif %}
{% if (content_top1) %}<div class="hidden-xs col-md-4 col-sm-4 col-lg-4 fixslbann1">{{ content_top1 }}</div>{% endif %}
{% if (content_top2) %}<div class="hidden-xs col-md-4 col-sm-4 col-lg-4 fixslbann2">{{ content_top2 }}</div>{% endif %}
{% if (content_top3) %}<div class="hidden-xs col-md-4 col-sm-4 col-lg-4 fixslbann3">{{ content_top3 }}</div>{% endif %}
{% else %}
{% if (content_slleft) %}<div class="col-xs-12 col-md-8 col-sm-8 col-lg-8 fixsl col-slider"> {{ content_slleft }}</div>{% endif %}
{% if (content_top1) %}<div class="hidden-xs col-xs-4 col-md-4 col-sm-4 col-lg-4 fixslbann2 col-banner">{{ content_top1 }}</div>{% endif %}
<div class="hidden-xs col-xs-4 col-md-4 col-sm-4 col-lg-4 fixslbann2 col-banner">{{ content_top2 }}</div>
{% endif %}
</div></div></div></div>
{% if column_left %}
<div class="container">
<div class="row">
<div class="col-sm-12">
{{ column_left }}
<div class="col-aridius">
{% endif %}
<div class="{{ class }}">
<div class="row">
<div class="col-sm-12">
{{ content_top }}
</div></div></div>
<div {% if not column_left %} id="banner2_back" {% endif %} class="hidden-xs">
<div class="{{ class }}">
<div class="row">
<div class="col-sm-12" >
{% if (content_bot1 or content_bot2 or content_bot3) %}<hr>{% endif %}
<div class="row">
<div class="col-sm-4 ">
{{ content_bot1 }}
</div>
<div class="col-sm-4 ">
{{ content_bot2 }}
</div>
<div class="col-sm-4 ">
{{ content_bot3 }}
</div></div></div></div></div></div>
{% if (content_slrig1) %}
<div class="{{ class }}">
{{ content_slrig1 }}
</div>
{% endif %}
{% if (content_slrig2) %}
<div {% if not column_left %} id="banner3_back" {% endif %}>
<div class="{{ class }}">
<hr>{{ content_slrig2 }}<hr>
</div></div>
{% endif %}
<div class="{{ class }}">
<div class="row">
<div class="col-sm-12">
{{ content_bottom }}
</div></div></div>
{% if column_left %}
</div></div></div></div>
{% endif %}
{{ footer }}